.form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 90%;
    margin: 20px auto;
    padding: 10px 0;
}

.input {
    width: 100%;
    padding: 10px;

}

.select {
    width: 100%;
    padding: 10px;
    text-align-last: center;
    text-align: center;
    padding-right: 29px;
    direction: rtl;
}

.option {
    width: 100%;
    overflow-wrap: break-word;
}

.subOption {
    opacity: 0.5;
    display: block;
    max-width: 50px;
}