.wrapper {
    background-color: var(--tg-theme-primary-bg-color);
}

.title {
    text-align: center;
}

.nav-wrapper {
    display: flex;
    justify-content: space-around;
}
.nav-item {
    color: var(--tg-theme-hint-color);
    text-decoration: none;
}